@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Basier";
  src: url("../public/Basier\ Square\ Regular.otf");
}

@font-face {
  font-family: "Novela";
  src: url("../public/Novela.ttf");
}

html {
  height: 100%;
  -webkit-text-size-adjust: 100%;
  font-family: sans-serif;
  display: block;
}

* {
  box-sizing: border-box;
}

@media only screen and (min-width: 320px) {
  html {
    font-size: 16px;
  }
}

@media only screen and (min-width: 320px) {
  @media only screen and (min-width: 768px) {
    html {
      font-size: 18px;
    }
  }
}
